import { QueryClient, QueryClientProvider } from '@tanstack/react-query'
import { withApp } from '@onecx/react-utils'
import { AppRoutes } from './router'

const queryClient = new QueryClient()

// Wrap routes with portal-aware providers/configuration.
const App = withApp(
  (props) => (
    <QueryClientProvider client={queryClient}>
      <AppRoutes {...props} />
    </QueryClientProvider>
  ),
  {
    PRODUCT_NAME: 'onecx-<%= fileName %>'  }
)
export default App
