import { useRoutes } from 'react-router'
import Welcome from './pages/Welcome'
import { useAppHref } from '@onecx/react-webcomponents'
import './i18n/config'

export const AppRoutes = () => {
  const { href } = useAppHref()
  if (!href) return null
  return <Routes href={href} />
}

const Routes = ({ href }: { href: string }) => {
  const routes = [
    {
      path: `${href}/*`,
      element: <Welcome />
    }
  ]
  return useRoutes(routes)
}
