import { <%= resourceClassName %>SearchCriteria } from './<%= resourceFileName %>-search.criteria';

export interface <%= resourceClassName %>SearchRow {
  id: string;
  changeMe: string;
}

export interface <%= resourceClassName %>SearchViewModel {
  criteria: <%= resourceClassName %>SearchCriteria;
  results: <%= resourceClassName %>SearchRow[];
  loading: boolean;
  searchExecuted: boolean;
}
