import { getRouterSelectors } from '@ngrx/router-store';
import { getOneCxSelectors } from '@onecx/ngrx-accelerator';

export const { selectLocation, selectBackNavigationPossible } =
  getOneCxSelectors();
