{
  "<%= featureConstantName %>_DETAILS": {
    "HELP_ARTICLE_ID": "Hilfeartikel",
    "BREADCRUMB": "Details",
    "HEADER": "<%= featureClassName %> Details",
    "SUB_HEADER": "Anzeigen von <%= featureClassName %> Details",
    "ERROR_MESSAGES": {
        "DETAILS_LOADING_FAILED": "Details konnten nicht geladen werden."
    },
    "GENERAL": {
      "BACK": "Zurück",
      "MORE": "Mehr"
    }
  }
}