{
  "<%= featureConstantName %>_DETAILS": {
    "HELP_ARTICLE_ID": "ACTION D3: ADD TRANSLATION",
    "BREADCRUMB": "ACTION D3: ADD TRANSLATION",
    "HEADER": "ACTION D3: ADD TRANSLATION",
    "SUB_HEADER": "ACTION D3: ADD TRANSLATION",
    "ERROR_MESSAGES": {
        "DETAILS_LOADING_FAILED": "ACTION D3: ADD TRANSLATION"
    },
    "GENERAL": {
      "BACK": "ACTION D3: ADD TRANSLATION",
      "MORE": "ACTION D3: ADD TRANSLATION"
    }
  }
}