<ocx-portal-page 
  <% if(!standalone){ %> permission="<%= pageConstantName %>#VIEW" <% } %>
  [helpArticleId]="'<%= pageConstantName %>_VIEW.HELP_ARTICLE_ID' | translate" 
  *ngrxLet="viewModel$; let vm"
  role="main"
  [attr.aria-label]="'<%= pageConstantName %>_VIEW.HEADER' | translate"
>
</ocx-portal-page>
