import { createReducer, on } from '@ngrx/store';
import { <%= pageClassName %>Actions } from './<%= pageFileName %>.actions';
import { <%= pageClassName %>State } from './<%= pageFileName %>.state';
import {
  routerNavigatedAction,
  RouterNavigatedAction,
} from '@ngrx/router-store';

export const initialState: <%= pageClassName %>State = {
};

export const <%= pagePropertyName %>Reducer = createReducer(
  initialState,
);
 