<ocx-portal-page 
  <% if(!standalone){ %> permission="<%= pageConstantName %>#SEARCH" <% } %>
  [helpArticleId]="'<%= pageConstantName %>_SEARCH.HELP_ARTICLE_ID' | translate" 
  *ngrxLet="viewModel$; let vm"
>
</ocx-portal-page>
