import { <%= dataObjectName %> } from '../../../shared/generated';

export interface <%= featureClassName %>DetailsState {
    details: <%= dataObjectName %> | undefined;
    detailsLoadingIndicator: boolean;
    detailsLoaded: boolean;
}
