import { ComponentHarness } from '@angular/cdk/testing';
import { PageHeaderHarness, DataTableHarness } from '@onecx/angular-accelerator/testing';

export class <%= featureClassName %>DetailsHarness extends ComponentHarness {
  static hostSelector = 'app-<%= featureFileName %>-details';

  getHeader = this.locatorFor(PageHeaderHarness);
  getDataTable = this.locatorFor(DataTableHarness);
}