{
  "<%= featureConstantName %>_CREATE_UPDATE": {
    "ACTION": {
      "CREATE": "Create"
    },
    "CREATE": {
      "HEADER": "Create <%= featureClassName %>",
      "SUCCESS": "Creation succesful",
      "ERROR": "Creation failed"
    },
    "UPDATE": {
      "HEADER": "Update <%= featureClassName %>",
      "SUCCESS": "Update successful",
      "ERROR": "Update failed"
    },
    "FORM": {
      "CHANGE_ME": "ChangeMe",
      "SAVE": "Save",
      "CANCEL": "Cancel"
    }
  }
}