import { DataTableColumn } from '@onecx/angular-accelerator';

export const <%= featurePropertyName %>SearchColumns: DataTableColumn[] = []
// ACTION S6: Define search results columns: https://onecx.github.io/docs/nx-plugins/current/general/getting_started/search/configure-search-results.html#_action-6