import {
  DataTableColumn,
} from '@onecx/portal-integration-angular'

export interface <%= featureClassName %>SearchState {
  columns: DataTableColumn[]
  results: any[]
  chartVisible: boolean
  resultComponentState: any
  searchHeaderComponentState: any
  diagramComponentState: any
  searchLoadingIndicator: boolean
  criteria: any
  searchExecuted: boolean
  displayedColumns: string[]
  viewMode: string | null
}