import { createViteAppWebComponent } from '@onecx/react-webcomponents'

import App from './App'

// Web component entrypoint for embedding into the portal shell.
createViteAppWebComponent(App, 'onecx-<%= fileName %>-ui-entrypoint')
