<% if (styles === 'tailwind') { %>@import 'tailwindcss';
@import 'tailwindcss-primeui';
<% } else { %>@import '@onecx/react-utils/react-utils.css';
<% } %>@import 'primeicons/primeicons.css';
<% if (styles !== 'tailwind') { %>@import 'primeflex/primeflex.min.css';
<% } %>@import './index.css';
