{
  "<%= featureConstantName %>_CREATE_EDIT": {
    "CREATE": {
      "SUCCESS": "Creation succesful",
      "FAILED": "Creation failed",
      "UNIQUE_CONSTRAINT": "Duplicate unique key"  
    },
    "UPDATE": {
      "SUCCESS": "Update successful",
      "FAILED": "Update failed"
    },
    "VALIDATION_ERROR": "Validation Error",
    "FORM": {
      "CHANGE_ME": "ChangeMe",
      "SAVE": "Save",
      "CANCEL": "Cancel"
    }
  }
}